<div id="info-box" class="hidden">
  <div id="name-row">
    <span class="placeholder"></span>
  </div>
  <div id="username-row">
    <span class="placeholder"></span>
  </div>
  <div id="personal-row">
    Personal High: <span class="placeholder"></span>
  </div>
  <div id="directs_count-row">
    Count of Directs: <span class="placeholder"></span>
  </div>
</div>
<div class="tree-chart" data-userTreeUrl="<%= users_json_url %>">
</div>
