<%= link_to "Back to Leaderboards", root_path, class: 'btn btn-default', style: 'position: absolute; top: 5px; left: 5px;' %>
<div class="row text-center">
  <h1><%= @game.name %></h1>
</div>
<div id="info-box" class="hidden">
  <div id="name-row">
    <span class="placeholder"></span>
  </div>
  <div id="username-row">
    <span class="placeholder"></span>
  </div>
  <div id="personal-row">
    Personal High: <span class="placeholder"></span>
  </div>
  <div id="directs_count-row">
    Count of Directs: <span class="placeholder"></span>
  </div>
</div>
<div class="tree-chart" data-userTreeUrl="<%= users_json_url %>">
</div>
